@font-face {
    font-family: 'Lato', sans-serif;
    src: url(../fonts/Lato-BlackItalic.ttf);
}

body{
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    height: 5vh;
    padding: 20px;
    align-content: center;
}

.header a{
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    text-decoration: none;
}

svg:hover{
    fill: white;
}

.header a:hover{
    color: white;
}

.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
}

 .footer{
     background-color: rgba(0, 0, 0, .85);
 }

 .footer a, footer p{
     color: #8e8e8e;
 }

.gray{
    background-color: rgb(248,249,250);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.footerItem a:hover{
    color: white;
    cursor: pointer;
}

img:hover{
    cursor: pointer;
}

.dropdown-menu{
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

}

.teststyle{
    color: #8e8e8e;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;

}

.teststyle:hover{
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.dropdown-menu{
    padding: 0;
}
